[preset.0]

name="Web"
platform="Web"
runnable=true
dedicated_server=false
custom_features=""

[preset.0.options]

variant/extensions_support=false
vram_texture_compression/for_desktop=true
vram_texture_compression/for_mobile=false
html/export_icon=true
html/custom_html_shell=""
html/head_include='<link rel="manifest" href="manifest.json">'
html/custom_html_shell=""
progressive_web_app/enabled=true
progressive_web_app/offline_page=""
progressive_web_app/display=standalone
progressive_web_app/orientation=any
progressive_web_app/icon_144x144="res://icon.png"
progressive_web_app/icon_192x192="res://icon.png"
progressive_web_app/icon_512x512="res://icon.png"
progressive_web_app/theme_color=#000000
progressive_web_app/background_color=#000000

[preset.0.files]

{"path":"res://.godot/export/presets/Web-{{ godot_version }}.stable.official.export_web.cfg","enabled":true}
{"path":"res://scenes/Main.tscn","enabled":true}
{"path":"res://icon.svg","enabled":true}

[preset.0.override]

[preset.0.override_options]

[preset.0.patch]

[preset.0.script_export_mode=text]

[preset.0.script_encryption_key]

[preset.0.script_encryption_key.public]

[preset.0.script_encryption_key.private]

[preset.0.script_encryption_key.save_to_file]

[preset.0.script_encryption_key.load_from_file]

[preset.0.script_encryption_key.clear]
